{% extends 'base.html.twig' %}
{% block stylesheets %}
	<style>

	</style>
{% endblock %}
{% block body %}
	<h2>Book Store</h2>
	<table border="3" cellspacing="10px" cellpadding="10px">
		<tr>
			<td>Call Id</td>
			<td>Name </td>
			<td>Author </td>
			<td>Price </td>
			<td colspan="2">Action <a href="{{path('add')}}"> New Entry </a></td>
		</tr>
		{% set y = 0 %}
		{% for x in data %}
			{% set y = y + 1 %}
			<tr>
				<td>{{x.shelf}}{{x.id}}</td>
				<td>{{x.Name}}</td>
				<td>{{x.Author}}</td>
				<td>₹ {{x.Price}}</td>
				<td><a href="{{path('update',{'id':x.id})}}">Edit</a></td>
				<td><a href="{{path('delete',{'id':x.id})}}">Delete</a></td>
			</tr>
		{% endfor %}
		<tr>
				<td colspan="5">Total number of Books</td>
				<td>{{y}}</td>
		</tr>
	</table>
{% endblock %}			